<div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block"></div>
<div id="page-content">
    <div class="container">
        <div class="login-register pt-2 pt-lg-5">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-md-0 text-center">
                    <img src="assets/images/products/annonces.jpg">
                    <h2>Nous avons  bein reçu votre annonce</h2>
                    <p class="m-b-15">Merci  de votre confiance. votre annonce va être contrôlée dans  les prochaines minutes.</p>
                    <button class="btn btn-my p-10">Voir mes annonces</button>
                    <button class="btn btn-my1 p-10"> Déposer une nouvelle annonces</button>
                </div>
            </div>
        </div>
    </div>
</div>