<div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block"></div>
<div id="page-content" class="p-t-30">
  <div class="container pt-30">
      <div class="">
          <div class="row row-mobile">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-md-0 login-f mx-t-p">
                          <h1 class="">C'est Fait</h1>
                          <p class="">Votre modification  de mot de passe a bien été enregistré.</p>
                          <p>Vous allez enregistré automatiquement redirigé.</p>
                          <br>
                          <p>La redirection fonctionne pas? <a href="javascript:void(0)">Réessayer</a></p>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-md-0 text-center d-none d-lg-block d-md-block">
                  <img class="for-got" src="assets/images/content/its-done.png">
              </div>
            </div>
      </div>
  </div>
</div>