<div class="shop-listing shop-fullwidth mt-4">
    <div class="page-wrapper">
        <div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
        </div>
        <div id="page-content" class="page-bg">
            <div class="container pt-30">
                <!--Main Content-->
                <div class="">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-8 col-lg-8 mb-4 mb-md-0">
                            <div class="inner in-ner nr">
                                <form method="post" action="#" class="customer-form">	
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <h3 class="m-t-30">Étape</h3>
                                        <h5>Informations Personnelles</h5>
                                            <div class="row ">
                                                    <div class="form-group p-0">
                                                    <label for="" class="">Prénom <span class="float-right"><small>champ requis</small></span></label>
                                                      <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="">
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="row ">
                                                    <div class="form-group p-0">
                                                    <label for="" class="">Nom <span class="float-right"><small>champ requis</small></span></label>
                                                      <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="">
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="row ">
                                                    <div class="form-group p-0">
                                                    <label for="" class="">Téléphone <span class="float-right"><small>champ requis</small></span></label>
                                                      <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="">
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="row">
                                                    <div class="form-group p-0">
                                                    <label for="" class="">Address de livraison <span class="float-right"><small>champ requis</small></span></label>
                                                      <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="">
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>									   
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4 mb-md-0">
                            <div class="in-ner1 nr">
                                   <div class="row p-t-10">
                                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 p-0">
                                          <img src="assets/images/products/bowl.jpg" alt="terrarium"> 
                                        </div>
                                        <div class="col-7 col-sm-7 col-md-7 col-lg-7 p-0">
                                          <h6>Ecorse decoration ou terrarium</h6> 
                                        </div>
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 p-0">
                                          <p class="price-red">200 <i class="fa-solid fa-euro"></i></p> 
                                        </div>
                                    </div>	
                                    <hr>
                                    <div class="row">
                                           <h5>mode de remise</h5>
                                           <div class="row m-b-15 p-0">
                                           <div class="col-2 col-lg-2 col-sm-2 col-md-2">
                                                 <div class="form-check">
                                                     <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
                                                 </div>
                                           </div>
                                           <div class="col-8 col-lg-8 col-sm-8 col-md-8 p-0">
                                             <h6 class="m-b-0">Remise en main  propre</h6>
                                             <p><small>Payez en ligne et recuperez votre article en main propre lors de votre rendez-vous avec le vendeur.</small></p>
                                           </div>
                                            <div class="col-2 col-lg-2 col-sm-2 col-md-2">
                                           
                                           </div>
                                           </div>
                                           <div class="row p-0">
                                           <div class="col-2 col-lg-2 col-sm-2 col-md-2">
                                                 <div class="form-check">
                                                     <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
                                                 </div>
                                           </div>
                                           <div class="col-7 col-lg-7 col-sm-7 col-md-7 p-0">
                                             <h6 class="m-b-0">Mondial Relay</h6>
                                             <p><small>en point Mondial  Relay  soud 3-5 jours </small></p>
                                           </div>
                                            <div class="col-3 col-lg-3 col-sm-3 col-md-3 text-right">
                                              <p class="price-red">3,99 <i class="fa-solid fa-euro"></i></p>
                                           </div>
                                           </div>
                                           <hr>
                                           <div class="row p-0">
                                           <div class="col-6 col-lg-6 col-sm-6 col-md-6">
                                           <h4><strong>Total</strong></h4>
                                           </div>
                                           <div class="col-6 col-lg-6 col-sm-6 col-md-6 text-right">
                                           <p class="price-red">3,99 <i class="fa-solid fa-euro"></i></p>
                                           </div>
                                           </div>
                                           
                                    </div>										
                            </div>
                        </div>
                      </div>
                      
                </div>
                <div class="row p-t-30">
                           <div class="col-12 col-lg-12 col-sm-12 col-md-12">
                           <p><span class="step">Étape 2/2:payer</span></p>
                           </div>
                      </div>
                <!--End Main Content-->
            </div>
        </div>
        </div>
    </div>