<div class="header-main header-12 mt-5">
</div>
  <ul class="nav nav-tabs">
	<li class="nav-item" style="display: none;">
	  <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
	</li>
	<li class="nav-item" style="display: none;">
	  <a class="nav-link" data-bs-toggle="tab" href="#menu1">Menu 1</a>
	</li>
	<li class="nav-item" style="display: none;">
	  <a class="nav-link" data-bs-toggle="tab" href="#menu2">Menu 2</a>
	</li>
	<li class="nav-item" style="display: none;">
		<a class="nav-link" data-bs-toggle="tab" href="#menu3">Menu 3</a>
	  </li>
	<li class="nav-item" style="display: none;">
		<a class="nav-link" data-bs-toggle="tab" href="#menu4">Menu 4</a>
	  </li>
	  <li class="nav-item" style="display: none;">
		<a class="nav-link" data-bs-toggle="tab" href="#menu5">Menu 5</a>
	  </li>

	  <li class="nav-item" style="display: none;">
		<a class="nav-link" data-bs-toggle="tab" href="#menu6">Menu 6</a>
	  </li>
	  <li class="nav-item" style="display: none;">
		<a class="nav-link" data-bs-toggle="tab" href="#menu7">Menu 7</a>
	  </li>

      <li class="nav-item" style="display: none;">
		<a class="nav-link" data-bs-toggle="tab" href="#menu8">Menu 8</a>
	  </li>
  </ul>
  
  <div class="tab-content">
	<div class="tab-pane container active" id="home">
		<h3 class="h4">Commençons par l’essentiel !</h3>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12">
				<div class="form-group">
					<div class="col-md-10">
						<label for="" class="">Quel est le titre de l'annonce ? <span
								class="required">*</span><span
								class="float-right"><small>champ
									requis</small></span></label>
						<div class="input-group mb-3 m-b-0"
							style="margin-bottom: 0 !important;">
							<input type="text" class="form-control" placeholder="">
							<button class="btn btn-danger continur"
								type="submit">Continuer</button>
						</div>
						<!-- <div class="clr-red">Veuillez donner un titre a' votre annonce</div> -->
					</div>
				</div>
			</div>
		</div>
	  <!-- <a class="btn btn-primary btnNext">Next</a> -->
	  <div class="row p-t-30">
		<div class="col-6 col-sm-6 col-md- col-lg-6">
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
			<a class="btn btn-my1 btnNext" type="button">Continuer</a>
		</div>
	</div>
	</div>

	<div class="tab-pane container fade" id="menu1">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
				<div>
					<h3>critères</h3>
				</div>
				<form>
                    <div class="row p-b-20">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                          <label for="modèle" class="form-label"><strong>Modèle</strong><span class="champ-r">Champ requis</span></label>
                          <select class="form-select" >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                          <label for="sous-modèle" class="form-label"><strong>Sous-Modèle</strong><span class="champ-r">Champ requis</span></label>
                          <select class="form-select" >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div>
                       </div>
                       <div class="row p-b-20">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                          <label for="sous-modèle" class="form-label"><strong>Type de pièce</strong><span class="champ-r">Champ requis</span></label>
                          <select class="form-select" >
                            <option>abc</option>
                            <option>abc</option>
                            <option>abc</option>
                            <option>abc</option>
                          </select>							    
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                          <label for="sous-modèle" class="form-label"><strong>État</strong><span class="champ-r">Champ requis</span></label>
                          <div class="row">
                               <div class="col-6 col-sm-6 col-md-6 col-lg-6 mob-p0">
                               <div class="form-check">
                                 <input type="radio" class="form-check-input" id="radio3" name="opt" value="tiptronic">Neuf
                                 <label class="form-check-label" for="tiptronic"></label>
                               </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 mob-p0">
                               <div class="form-check">
                                 <input type="radio" class="form-check-input" id="radio4" name="opt" value="PDK">Occasion
                                 <label class="form-check-label" for="PDK"></label>
                               </div>
                            </div>
                            </div>
                        </div>
                       </div>
                       <div class="row p-b-20">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                          <label for="sous-modèle" class="form-label"><strong>Pièce d'origine OEM</strong><span class="champ-r">Champ requis</span></label>
                          <div class="row">
                               <div class="col-6 col-sm-6 col-md-6 col-lg-6 mob-p0">
                               <div class="form-check">
                                 <input type="radio" class="form-check-input" id="radio3" name="opt" value="tiptronic">Oui
                                 <label class="form-check-label" for="tiptronic"></label>
                               </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 mob-p0">
                               <div class="form-check">
                                 <input type="radio" class="form-check-input" id="radio4" name="opt" value="PDK">Non
                                 <label class="form-check-label" for="PDK"></label>
                               </div>
                            </div>
                            </div>
                        </div>
                       </div>
				</form>
			</div>
		</div>

	  <!-- <a class="btn btn-primary btnPrevious">Back</a>
	  <a class="btn btn-primary btnNext">Next</a> -->
	  <div class="row p-t-30">
		<div class="col-6 col-sm-6 col-md- col-lg-6">
			<a class="btn btn-my btnPrevious">Retour</a>
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
			<a class="btn btn-my1 btnNext" type="button">Continuer</a>
		</div>
	</div>
	  
	</div>

	<div class="tab-pane container fade mb-5" id="menu2" style="height: 100% !important;">
		<div class="row p-b-20">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <label for="châssis" class="form-label"><strong>Année modèle</strong><span class="champ-r">Champ requis</span></label>
              <select class="form-select" >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <label for="châssis" class="form-label"><strong>Type de châssis</strong><span class="champ-r">Champ requis</span></label>
              <select class="form-select" >
                <option>abc</option>
                <option>abc</option>
                <option>abc</option>
                <option>abc</option>
              </select>
            </div>
           </div>
           
           <div class="row p-b-20">
           
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <label for="modèle" class="form-label"><strong>Carburant </strong><span class="champ-r">Champ requis</span></label>
              <div class="containerrr">
                 <div class="selector">
                     <div class="selecotr-item">
                         <input type="radio" id="radio11" name="selector" class="selector-item_radio" checked>
                         <label for="radio11" class="selector-item_label">Essence</label>
                     </div>
                     <div class="selecotr-item">
                         <input type="radio" id="radio22" name="selector" class="selector-item_radio">
                         <label for="radio22" class="selector-item_label">Diesel</label>
                     </div>
                     <div class="selecotr-item">
                         <input type="radio" id="radio33" name="selector" class="selector-item_radio">
                          <label for="radio33" class="selector-item_label">Electrique</label>
                     </div>
                     <div class="selecotr-item">
                         <input type="radio" id="radio44" name="selector" class="selector-item_radio">
                          <label for="radio44" class="selector-item_label">Hybride</label>
                     </div>
                 </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <label for="modèle" class="form-label"><strong>Boîte de vitesse</strong><span class="champ-r">Champ requis</span></label>
                <div class="row">
                   <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                   <div class="form-check">
                     <input type="radio" class="form-check-input" id="radio1" name="opt" value="manuel" checked>Manuel
                     <label class="form-check-label" for="manuel"></label>
                   </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                   <div class="form-check">
                     <input type="radio" class="form-check-input" id="radio2" name="opt" value="automatique" >Automatique
                     <label class="form-check-label" for="automatique"></label>
                   </div>
                </div>
                </div>
                <div class="row">
                   <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                   <div class="form-check">
                     <input type="radio" class="form-check-input" id="radio3" name="opt" value="tiptronic">Tiptronic
                     <label class="form-check-label" for="tiptronic"></label>
                   </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                   <div class="form-check">
                     <input type="radio" class="form-check-input" id="radio4" name="opt" value="PDK">PDK
                     <label class="form-check-label" for="PDK"></label>
                   </div>
                </div>
                </div>
            </div>
           </div>

           <div class="row p-b-20">
            <h3 class="h4 bifurcation mob-p0">Décrivez vpre Bien ! </h3>
            <div class="form-group bifurcation mob-p0">
               <div class="col-md-6 mob-p0">
                  <label for="" class=""><strong>Titre de  l'annonce</strong> <span class="required"></span><span class="float-right"><small>champ requis</small></span></label>
                     <input type="text" class="form-control" placeholder="">
                   <span class="float-right"><small>0 / 100 caractères</small></span>
                </div>
              </div>
            </div>

            <div class="row p-b-20">
                <div class="form-group mob-p0">
                  <label for="comment"><strong>Description de vos expériences</strong> <span class="float-right">champ requis</span></label>
                  <textarea class="form-control" rows="8" id="comment"></textarea>
                  <span class="float-right"><small>0 / 100 caractères</small></span>
                </div>
                </div>
		<!-- <a class="btn btn-primary btnPrevious">Back</a>
		<a class="btn btn-primary btnNext">Next</a> -->

		<div class="row p-t-30 mb-5">
			<div class="col-6 col-sm-6 col-md- col-lg-6">
				<a class="btn btn-my btnPrevious">Retour</a>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
				<a class="btn btn-my1 btnNext" type="button">Continuer</a>
			</div>
		</div>
	  </div>

	  <div class="tab-pane container fade" id="menu3">
		<h2 class="mob-p0">Quel est votre prix?</h2>
										    <div class="form-group mob-p0">
                                            <div class="col-md-6 mob-p0">
											   <label for="" class=""><strong>Votre prix de vente</strong> <span class="required"></span><span class="float-right"><small>champ requis</small></span></label>
              									<input type="text" class="form-control" placeholder="">
												<span class="float-right"><small>0 / 100 caractères</small></span>
											 </div>
                                           </div>
		<div class="row p-t-30 mb-5">
			<div class="col-6 col-sm-6 col-md- col-lg-6">
				<a class="btn btn-my btnPrevious">Retour</a>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
				<a class="btn btn-my1 btnNext" type="button">Continuer</a>
			</div>
		</div>
	</div>

	<div class="tab-pane container fade" id="menu4">
		<div class="row p-t-30 mob-p0">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 p-0">
				<h2>8 Photos</h2>
				<p>faites gliser</p>
			  <div class="upload__box">
			   <div class="upload__btn-box">
				<label class="upload__btn float-left">
				  <p><i class="fa-solid fa-camera fa-cam"></i></p> <p>Upload images</p>
					<input type="file" multiple="" data-max_length="20" class="upload__inputfile" (change)="selectFiles($event)">
				</label>
			  </div>
			  <div class="upload__img-wrap" style="">
				<div class="row ml-5">
                    <div class="image-container" [ngStyle]="{'background-image':'url(' + data.image + ')'}"
                        *ngFor="let data of previews;let i = index">
                        <i class="fa fa-times-circle" (click)="removeImage(i)"></i>
                    </div>
			  </div>
			  </div>
			</div>
			</div>
			<div class="row p-t-30">
				<div class="col-6 col-sm-6 col-md- col-lg-6">
					<a class="btn btn-my btnPrevious">Retour</a>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
					<a class="btn btn-my1 btnNext" type="button">Continuer</a>
				</div>
			</div>
	</div>
  </div>

  <div class="tab-pane container fade" id="menu5">
    <div class="row p-b-20 mob-p0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mob-p0">
        <h2>Remise du bien</h2>
           <div class="form-group form-g-b">
               <div class="col-md-10">
               <h4>Livraison</h4>
               <p>Vous avancez les frais de livraison</p>
                   <label for="" class="">Frais de livraison<span class="float-right"><small>champ requis</small></span></label>
                     <div class="input-group mb-3 m-b-0" style="margin-bottom: 0 !important;">
                   <input type="text" class="form-control" placeholder=""> 
                   <span class="input-side-euro"><i class="fa-solid fa-euro"></i></span>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="row p-t-30">
        <div class="col-6 col-sm-6 col-md- col-lg-6">
            <a class="btn btn-my btnPrevious">Retour</a>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <a class="btn btn-my1 btnNext" type="button">Continuer</a>
        </div>
    </div>
  </div>


  <div class="tab-pane container fade" id="menu6">
	<div class="row p-t-30">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 p-0">

                <!-- <agm-map  [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map> -->

                  <div class="form-group">
                    <label>Enter address</label>
                    <input type="text" class="form-control googleMap" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                  </div>
                  
                  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                      ></agm-marker>
                  </agm-map>
		</div>
	</div>

  <!-- <a class="btn btn-primary btnPrevious">Back</a>
  <a class ="btn btn-primary btnNext">Next</a> -->
  <div class="row p-t-30">
	<div class="col-6 col-sm-6 col-md- col-lg-6">
		<a class="btn btn-my btnPrevious">Retour</a>
	</div>
	<div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
		<a class="btn btn-my1 btnNext" type="button">Continuer</a>
	</div>
</div>
</div>

  <div class="tab-pane container fade" style="height: 100% !important;" id="menu7">
	<div class="row p-t-30 mob-p0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mob-p0">
        <h2>Vos coordonnées</h2>
          <div class="row p-t-30 mob-p0">
             <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                     <label for="nom" class="form-label"><strong>Nom </strong><span class="champ-r">Champ requis</span></label>
                     <input type="text" class="form-control bg-white" id="" placeholder="" name="nom">
             </div>
             <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                     <label for="prénom" class="form-label"><strong>Prénom </strong><span class="champ-r">Champ requis</span></label>
                     <input type="text" class="form-control bg-white" id="" placeholder="" name="prénom">
             </div>
          </div>
          <div class="row p-t-30 mob-p0">
             <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                    <label for="email" class="form-label"><strong>Email </strong><span class="champ-r">Champ requis</span></label>
                    <input type="email" class="form-control bg-white" id="email" placeholder="" name="email">											   </div>
             <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                     <label for="téléphone" class="form-label"><strong>Téléphone </strong><span class="champ-r">Champ requis</span></label>
                     <input type="text" class="form-control bg-white" id="" placeholder="" name="téléphone">
             </div>
          </div>
        </div>
         <div class="p-t-30 mob-p0">
           <label class="switch switchh">
                <input type="checkbox" checked="">
                <span class="slider round"></span>
           </label>
           <span class="masqur">Masquer le numéro</span>
         </div>
         <p class="mob-p0">En validant  la diffusion  de mon  annonce j'accepte les <a href="#" class="an-ker"> conditions général d'utilisation</a> et les <a href="#" class="an-ker">règles de diffusion</a> du site porschists.com et j'autorise porschists.ocm  diffuser mon annonce</p>
        </div>
	<!-- <a class="btn btn-primary btnPrevious">Back</a>
	<a class="btn btn-primary btnNext">Next</a> -->

	<div class="row p-t-30" style="height: 50%;">
		<div class="col-6 col-sm-6 col-md- col-lg-6">
			<a class="btn btn-my btnPrevious">Retour</a>
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
			<a class="btn btn-my1 btnNext" type="button">Continuer</a>
		</div>
	</div>
  </div>

  <div class="tab-pane container fade" id="menu8">
	<div class="row p-t-30 mob-p0">
        <div class="grid-products grid--view-items prd-list m-t-30 mob-p0 p-0 gridd">
<div class="row">
<div class="col-12 col-sm-5 col-md-3 col-lg-3  p-0 mob-p0">
   <div class="product-image pro-images">
       <a href="#" class="product-img">
           <img src="assets/images/products/car-888.jpg" width="" alt="image" title="">  
           <div class="product-labels"><span class="lbl on-sale rounded no-pic" style="border-radius: 77px!important;"><i class="fa-solid fa-camera"></i>  10</span></div>
       </a> 
   </div>
</div>
<div class="col-12 col-sm-7 col-md-9 col-lg-9  p-0 mob-p0">									
   <div class="product-details product-d-p Peugeot 406 break">
       <div class="product-name p-l-0 p-0">
           <a href="#" class="pro-duct">Peugeot 406 break</a>
       </div>
       <div class="product-price">
           <span class="price">2 <i class="fa-solid fa-euro-sign"></i></span>
       </div>  
       <div class="voi-tur">Voiture</div>											
   </div>
</div>	
</div>

</div>
     </div>

     <div class="row p-t-30 mob-p0">
        <div class="grid-products grid--view-items shop-grid-5 prd-grid mob-p0">
<div class="row">
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
<div class="new-div shado-div">
  <!--Start Product Image-->
  <div class="product-image">
      <div class="top-sec">
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div>
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
      </div> 
      <div class="text-center p-t-10">
             <h5 class="text-center">Augmentez  votre visibilite</h5>
           <a href="#" class="an-ker1">Aperçu</a>
      </div>
      <div>
           <ul class="jour">
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check4" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check4">Période  gratuite de 3 mois</label>
                       <span class="r-price-spn">0,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check5" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check5">Pendant 30 jours</label>
                       <span class="r-price-spn">35,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check6" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check6">Pendant 90 jours</label>
                       <span class="r-price-spn">85,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check7" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check7">Pendant 180 jours</label>
                       <span class="r-price-spn">175,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
           </ul>
      </div>
  </div>
  <!--End Product Image-->
</div>
</div>

<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
<div class="new-div shado-div">
  <!--Start Product Image-->
  <div class="product-image">
      <div class="top-sec">
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div>
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
      </div> 
      <div class="text-center p-t-10">
             <h3 class="text-center">Coût  de la publicité</h3>
           <a href="#" class="an-ker1">Aperçu</a>
      </div>
      <div>
           <ul class="jour">
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check4" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check4">Période  gratuite de 3 mois</label>
                       <span class="r-price-spn">0,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check5" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check5">Pendant 30 jours</label>
                       <span class="r-price-spn">35,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check6" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check6">Pendant 90 jours</label>
                       <span class="r-price-spn">85,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check7" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check7">Pendant 180 jours</label>
                       <span class="r-price-spn">175,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
           </ul>
      </div>
  </div>
  <!--End Product Image-->
</div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
<div class="new-div shado-div">
  <!--Start Product Image-->
  <div class="product-image">
      <div class="top-sec">
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div>
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
      </div> 
      <div class="text-center p-t-10">
             <h3 class="text-center">Coût  de la publicité</h3>
           <a href="#" class="an-ker1">Aperçu</a>
      </div>
      <div>
           <ul class="jour">
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check4" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check4">Période  gratuite de 3 mois</label>
                       <span class="r-price-spn">0,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check5" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check5">Pendant 30 jours</label>
                       <span class="r-price-spn">35,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check6" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check6">Pendant 90 jours</label>
                       <span class="r-price-spn">85,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check7" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check7">Pendant 180 jours</label>
                       <span class="r-price-spn">175,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
           </ul>
      </div>
  </div>
  <!--End Product Image-->
</div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
<div class="new-div shado-div">
  <!--Start Product Image-->
  <div class="product-image">
      <div class="top-sec">
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div>
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
      </div> 
      <div class="text-center p-t-10">
             <h3 class="text-center">Coût  de la publicité</h3>
           <a href="#" class="an-ker1">Aperçu</a>
      </div>
      <div>
           <ul class="jour">
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check4" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check4">Période  gratuite de 3 mois</label>
                       <span class="r-price-spn">0,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check5" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check5">Pendant 30 jours</label>
                       <span class="r-price-spn">35,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check6" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check6">Pendant 90 jours</label>
                       <span class="r-price-spn">85,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check7" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check7">Pendant 180 jours</label>
                       <span class="r-price-spn">175,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
           </ul>
      </div>
  </div>
  <!--End Product Image-->
</div>
</div>

<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
<div class="new-div shado-div">
  <!--Start Product Image-->
  <div class="product-image">
      <div class="top-sec">
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div>
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
      </div> 
      <div class="text-center p-t-10">
             <h3 class="text-center">Apparaissez dans les premiers résultats	</h3>
           <p class="bottom-h">Republiez automatiquement votre annonce, en haut  de la liste des résultats</p>
           <a href="#" class="an-ker1">Aperçu</a>
      </div>
      <div>
           <ul class="jour">
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check8" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check8">Chaque jour  pendant 7 jours</label>
                       <span class="r-price-spn">29 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check9" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check9">Chaque jour  pendant 30 jours</label>
                       <span class="r-price-spn">90 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check10" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check10">Chaque semaine pendant 30 jours</label>
                       <span class="r-price-spn">36 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
           </ul>
      </div>
  </div>
  <!--End Product Image-->
</div>
</div>

<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
<div class="new-div shado-div">
  <!--Start Product Image-->
  <div class="product-image">
      <div class="top-sec ">
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div class="seprat">
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
           <div>
               <img class="scrol-img" src="assets/images/products/car-888.jpg">
           <div>
               <h5>Toyota Yaris d4d </h5>
               <P><span class="price">18,200 <i class="fa-solid fa-euro-sign"></i></span></P>
           </div>
           </div>
      </div> 
      <div class="text-center p-t-10">
             <h4 class="text-center">Annonce urgente	</h4>
           <p class="bottom-h">Ressortez dans les résultats et profitez  du filtre  pour être trouvé facilement </p>
           <a href="#" class="an-ker1">Aperçu</a>
      </div>
      <div>
           <ul class="jour">
               <li>
                   <div class="form-check p-l-0">
                       <input type="checkbox" class="input-chk-box mr-15" id="check11" name="option1" value="something">
                       <label class="form-check-label lbl-float lbl-w" for="check11">Por 30 jour</label>
                       <span class="r-price-spn">0,00 <i class="fa-solid fa-euro-sign"></i></span>
                   </div>
               </li>
           </ul>
      </div>
  </div>
  <!--End Product Image-->
</div>
</div>

<!--End Product Details-->
</div>
</div>
<p class="mob-p0">En cliquant sur valider et payer, je reconnais avoir lu et accepté les <a href="#" class="an-ker">Conditions générales de vente </a> et renonce a mon droitde  rétractation. En validant ma commande, j'accepte  le commencement immédiat de la prestation </p>
<div class="row  bottom-d">
   <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <span class="an-ker1">5,05<i class="fa-solid fa-euro"></i></span><br><span class="an-ker12">Détail du palement</span>
   </div>
   <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-right align-self-c">
        <button class="btn btn-my btn-publier">Publier une annonce sans booster</button>
   </div>										 
</div>
</div>
	<!-- <a class="btn btn-primary btnPrevious">Back</a>
	<a class="btn btn-primary btnNext">Next</a> -->

	<div class="row p-t-30">
		<div class="col-6 col-sm-6 col-md- col-lg-6">
			<a class="btn btn-my btnPrevious">Retour</a>
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right">
			<button class="btn btn-my1" type="button">Continuer</button>
		</div>
	</div>
  </div>