<div class="shop-listing shop-fullwidth mt-5">
    <div class="page-wrapper">
        <div id="page-content" class="p-t-30">
            <div class="container pt-30">
                <!--Main Content-->
                <div class="">
                    <div class="row mt-4">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                             <div class="p-2 payment-c"> 
                                 <div class="pay-t">
                                     <h5 class="mont">Montant a payer : <span class="price-red">2,99 <i class="fa-solid fa-euro"></i></span></h5>
                                     <div class="pay-2">
                                     <div class="m-b-25">
                                        <p>Montant de l'achat:200 <i class="fa-solid fa-euro"></i></p>
                                        <p>Protecttion Porschists : 200<i class="fa-solid fa-euro"></i></p>
                                     </div>
                                     <div class="row">
                                        <div class="col-6 col-lg-3 col-md-3 col-sm-6">
                                             <div class="form-check">
                                                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
                                                Carte bancaire
                                                <label class="form-check-label" for="radio1"></label>
                                             </div>
                                        </div>
                                        <div class="col-6 col-lg-3 col-md-3 col-sm-6">
                                             <div class="form-check">
                                                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>PayPal
                                                <label class="form-check-label" for="radio1"></label>
                                             </div>
                                        </div>
                                     </div>
                                     </div>
                                 </div> 
                                  <div class="row p-t-30 p-lr-0">
                                      <p class="p-0 m-b-30"><i class="fa-solid fa-lock-keyhole"></i> Paiement sécurisé <img src="assets/images/content/master.png" alt="master"><img src="assets/images/content/vissa.png" alt="visa"></p>
                                      
                                      <div class="row p-b-20 p-lr-0">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                           <label for="" class="form-label"><strong>Numéro de carte</strong><span class="champ-r">Champ requis</span></label>
                                           <input type="text" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                           <label for="" class="form-label"><strong>Titulaire de la carte</strong><span class="champ-r">Champ requis</span></label>
                                           <input type="text" class="form-control" placeholder="Nom écrit sur la carte">
                                        </div>
                                      </div>
                                      <div class="row p-b-20 p-lr-0">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                           <label for="" class="form-label"><strong>Date d'expiration </strong><span class="champ-r">Champ requis</span></label>
                                           <input type="text" class="form-control" placeholder="MM/AA">
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                           <label for="" class="form-label"><strong>Cryptogramme</strong><span class="champ-r">Champ requis</span></label>
                                           <input type="text" class="form-control" placeholder="Exemple : 123">
                                        </div>
                                      </div>
                                      <div class="row">
                                      <input type="checkbox" class="input-chk-box mr-15" id="check21" name="option1" value="something"> J'enregistre cette carte pour de futurs achats
                                      <p>En cliquant sur payer, j'accepte les <a href="#" class="ankr-tag">Conditions Generales d'Utilisation.</a></p>
                                      </div>
                                      <div class="row p-t-30">
                                         <p><span class="step">Payer 2,99 <i class="fa-solid fa-euro"></i></span></p>
                                         <p class="p-t-30">Votre banque peut vous demander d'autoriser le paiement pour completer votre achat.</p>
                                         <p class="p-t-30">Vous  etes sur un serveur de paiement  sécurisé par les  normes ssl(https) et pcidss de nos partenaires bancaires. Vos données sont encryptées pour plus de sécurité.</p>
                                      </div>
                                  </div>
                             </div>
                        </div>
                      </div>
                </div>
            </div>
            
            <div class=""></div>
        </div>
        </div>
    </div>