<div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block"></div>
<div id="page-content" class="p-t-30 mob-p-t">
    <!--Container-->
  <div class="container pt-30">
      <!--Main Content-->
      <div class="">
          <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4 mb-md-0 login-f ">
                  <form method="post" action="#" class="customer-form change-f">	
                          <h1 class="">Modifier mon  mot  de passe</h1>
                          <div class="row">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <label for="" class="float-left"><strong>Nouveau mot de passe</strong> </label><span class="float-right champ-r"><strong>Champ requis</strong></span>
                                            <div class="input-group mb-3">
                                          <input type="password" class="form-control" placeholder="" id="" name="">
                                         
                                               <span class="input-group-text eye-i"><i class="fa-solid fa-eye"></i></span>
                                          
                                          </div>
                                          <div class="mini-mum-div">
                                             <ul class="mini-mum">
                                                 <li><i class="fa-solid fa-check"></i> 8 caractères minimum</li>
                                                 <li><i class="fa-solid fa-check"></i> 1 chiffre minimum </li>
                                                 <li><i class="fa-solid fa-check"></i> 1 lettre minuscule minimum</li>
                                                 <li><i class="fa-solid fa-check"></i> 1 lettre majuscle minimum</li>
                                                 <li><i class="fa-solid fa-check"></i> 50 caractères miximum</li>
                                             </ul>
                                          </div>
                                       </div>
                                  </div>
                                 <div><button class="btn btn-primary">Continuer</button></div>
                              </div>
                          </div>									   
                   </form>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-md-0 text-center d-none d-lg-block">
                  <img class="for-got" src="assets/images/content/change-pass.png">
              </div>
            </div>
      </div>
      <!--End Main Content-->
  </div>
  <!--End Container-->
</div>