<body style="height: auto; overflow: hidden; padding: 16px; --devsite-panel-height: 0px;" ready="">
    <meta name="auto_height" content="true"><meta name="auto_width" content="true">
    <style>
      #iframe {
        
        height: calc(300px + 400px);
        width: 100%;
        
        margin-bottom: -50px;
      }
    </style>
    
    <iframe id="iframe" src="https://geo-devrel-javascript-samples.web.app/samples/playground.html?showToolbar=true&amp;previewHeight=400px&amp;sample=places-autocomplete" allow="fullscreen; " style="height: 3204.6px;"></iframe>
    
    <script type="module" src="https://geo-devrel-javascript-samples.web.app/resizer.js"></script>
  
  
</body>