<!-- <div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block mt-4"></div> -->

<div class="page-wrapper">
    <div id="page-content" class="p-t-30">
        <div class="container pt-30">
            <div class="">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 login-f">
                         <div class="p-2 otp-div text-center" style="padding:25px!important;"> 
                         <h1 class="red">Porschists</h1>
                         <h4>Modifier votre mot de passe</h4>
                         <p><strong>abc</strong></p>
                         <p>Vous souhaitez modifier votre mot de passe. Pour continuer, entrez  le  code  suivant  sur porschists:</p>
                         <h1><strong>123456</strong></h1>								 
                         <p>Si vous n'etes pas a l'origine de  cette demande, vous pouvez ignorer cet e-mail. </p>
                         <h5><strong>A tout de suite sur porschists</strong></h5> 
                         </div>
                    </div>
                  </div>
            </div>
            <!--End Main Content-->
        </div>
        
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                         <div class="p-2 otp-div invoic" style="padding:25px!important;"> 
                         <h1 class="red">Porschists</h1>
                         <hr>
                         <ul class="list-inline social-icons mt-3 social">
                            <li class="list-inline-item"><a href="#" class="facbook" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Facebook" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>

                            <li class="list-inline-item"><a href="#" class="twitr" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Twitter" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a></li>

                            <li class="list-inline-item"><a href="#" class="insta" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Instagram" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>

                            <li class="list-inline-item"><a href="#" class="gmal" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Google plus" aria-label="Google plus"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            </ul>
                         <ul class="list-inline social-icons mt-3">
                                    <li class="list-inline-item mb-3">
                                        <a href="#">
                                            <img src="assets/images/icons/download_on_app_store.avif" width="135">
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#">
                                            <img src="assets/images/icons/download_on_google_play.avif" width="135">
                                        </a>
                                    </li>
                                </ul>
                        <p>Ceci est  un email automatique, merci de  ne pas  y répondre</p>		
                         </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class=""></div>
    </div>
    </div>