<div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block"></div>
<div id="page-content" class="p-t-30">    
    <div class="container">
        <div class="row">
            <!--Main Content-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <h1>Annonces sauvegardées</h1>
                <h2>Retrouvez vos annonces sauvegardées sur tous vos appareils</h2>
                <p>Si l’annonce n’est plus active sur le site, elle disparaîtra automatiquement de votre sélection.</p>
                <!--Product Grid-->
                <div class="grid-products grid--view-items prd-list m-t-30">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 item posiotion-r">
                            <!--Start Product Image-->
                            <div class="product-image">
                                <!--Start Product Image-->
                                <a href="#" class="product-img">
                                    <!-- image -->
                                    <img src="assets/images/products/bowl.jpg" alt="image" title="">
                                    <!-- End image -->
                                   
                                    <div class="product-labels"><span class="lbl on-sale rounded">10</span></div>
                                </a>
                                <!--End Product Image-->
                                
                            </div>
                            <!--End Product Image-->
                            <!--Start Product Details-->
                            <div class="product-details product-d-p">
                                <!--Product Name-->
                                <div class="product-name p-l-0 p-0">
                                    <a href="#">Terrarium Bowl</a>
                                </div>
                                <!--End Product Name-->
                                <!--Product Price-->
                                <div class="product-price">
                                    <span class="price">2 <i class="fa-solid fa-euro-sign"></i></span>
                                    
                                </div>
                                <!--End Product Price-->
                                
                                <!--Sort Description-->
                                <p class="secur-p-p"><span class="secure-pay secure-p">Secure payment</span></p>
                                <!--End Sort Description-->
                                 <div class="">
                                  <p>Sports & Hobbies</p>
                                  <p>Lizy-sur-Ourcq 77440</p>
                                  <p>28 mai, 15:43 </p>
                                  <span class="heart-spn"><i class="fa-solid fa-heart"></i></span>
                                 </div>
                            </div>
                            <!--End Product Details-->
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 item posiotion-r">
                            <!--Start Product Image-->
                            <div class="product-image">
                                <!--Start Product Image-->
                                <a href="#" class="product-img">
                                    <!-- image -->
                                    <img src="assets/images/products/bowl.jpg" alt="image" title="">
                                    <!-- End image -->
                                   
                                    <div class="product-labels"><span class="lbl on-sale rounded">10</span></div>
                                </a>
                                <!--End Product Image-->
                                
                            </div>
                            <!--End Product Image-->
                            <!--Start Product Details-->
                            <div class="product-details product-d-p">
                                <!--Product Name-->
                                <div class="product-name p-l-0 p-0">
                                    <a href="#">Terrarium Bowl</a>
                                </div>
                                <!--End Product Name-->
                                <!--Product Price-->
                                <div class="product-price">
                                    <span class="price">2 <i class="fa-solid fa-euro-sign"></i></span>
                                    
                                </div>
                                <!--End Product Price-->
                                
                                <!--Sort Description-->
                                <p class="secur-p-p"><span class="secure-pay secure-p">Secure payment</span></p>
                                <!--End Sort Description-->
                                 <div class="">
                                  <p>Sports & Hobbies</p>
                                  <p>Lizy-sur-Ourcq 77440</p>
                                  <p>28 mai, 15:43 </p>
                                  <span class="heart-spn"><i class="fa-solid fa-heart"></i></span>
                                 </div>
                            </div>
                            <!--End Product Details-->
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 item posiotion-r">
                            <!--Start Product Image-->
                            <div class="product-image">
                                <!--Start Product Image-->
                                <a href="#" class="product-img">
                                    <!-- image -->
                                    <img src="assets/images/products/bowl.jpg" alt="image" title="">
                                    <!-- End image -->
                                   
                                    <div class="product-labels"><span class="lbl on-sale rounded">10</span></div>
                                </a>
                                <!--End Product Image-->
                                
                            </div>
                            <!--End Product Image-->
                            <!--Start Product Details-->
                            <div class="product-details product-d-p">
                                <!--Product Name-->
                                <div class="product-name p-l-0 p-0">
                                    <a href="#">Terrarium Bowl</a>
                                </div>
                                <!--End Product Name-->
                                <!--Product Price-->
                                <div class="product-price">
                                    <span class="price">2 <i class="fa-solid fa-euro-sign"></i></span>
                                    
                                </div>
                                <!--End Product Price-->
                                
                                <!--Sort Description-->
                                <p class="secur-p-p"><span class="secure-pay secure-p">Secure payment</span></p>
                                <!--End Sort Description-->
                                 <div class="">
                                  <p>Sports & Hobbies</p>
                                  <p>Lizy-sur-Ourcq 77440</p>
                                  <p>28 mai, 15:43 </p>
                                  <span class="heart-spn"><i class="fa-solid fa-heart"></i></span>
                                 </div>
                            </div>
                            <!--End Product Details-->
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 item posiotion-r">
                            <!--Start Product Image-->
                            <div class="product-image">
                                <!--Start Product Image-->
                                <a href="#" class="product-img">
                                    <!-- image -->
                                    <img src="assets/images/products/bowl.jpg" alt="image" title="">
                                    <!-- End image -->
                                   
                                    <div class="product-labels"><span class="lbl on-sale rounded">10</span></div>
                                </a>
                                <!--End Product Image-->
                                
                            </div>
                            <!--End Product Image-->
                            <!--Start Product Details-->
                            <div class="product-details product-d-p">
                                <!--Product Name-->
                                <div class="product-name p-l-0 p-0">
                                    <a href="#">Terrarium Bowl</a>
                                </div>
                                <!--End Product Name-->
                                <!--Product Price-->
                                <div class="product-price">
                                    <span class="price">2 <i class="fa-solid fa-euro-sign"></i></span>
                                    
                                </div>
                                <!--End Product Price-->
                                
                                <!--Sort Description-->
                                <p class="secur-p-p"><span class="secure-pay secure-p">Secure payment</span></p>
                                <!--End Sort Description-->
                                 <div class="">
                                  <p>Sports & Hobbies</p>
                                  <p>Lizy-sur-Ourcq 77440</p>
                                  <p>28 mai, 15:43 </p>
                                  <span class="heart-spn"><i class="fa-solid fa-heart"></i></span>
                                 </div>
                            </div>
                            <!--End Product Details-->
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 item posiotion-r">
                            <!--Start Product Image-->
                            <div class="product-image">
                                <!--Start Product Image-->
                                <a href="#" class="product-img">
                                    <!-- image -->
                                    <img src="assets/images/products/bowl.jpg" alt="image" title="">
                                    <!-- End image -->
                                   
                                    <div class="product-labels"><span class="lbl on-sale rounded">10</span></div>
                                </a>
                                <!--End Product Image-->
                                
                            </div>
                            <!--End Product Image-->
                            <!--Start Product Details-->
                            <div class="product-details product-d-p">
                                <!--Product Name-->
                                <div class="product-name p-l-0 p-0">
                                    <a href="#">Terrarium Bowl</a>
                                </div>
                                <!--End Product Name-->
                                <!--Product Price-->
                                <div class="product-price">
                                    <span class="price">2 <i class="fa-solid fa-euro-sign"></i></span>
                                    
                                </div>
                                <!--End Product Price-->
                                
                                <!--Sort Description-->
                                <p class="secur-p-p"><span class="secure-pay secure-p">Secure payment</span></p>
                                <!--End Sort Description-->
                                 <div class="">
                                  <p>Sports & Hobbies</p>
                                  <p>Lizy-sur-Ourcq 77440</p>
                                  <p>28 mai, 15:43 </p>
                                  <span class="heart-spn"><i class="fa-solid fa-heart"></i></span>
                                 </div>
                            </div>
                            <!--End Product Details-->
                        </div>
                    </div>
                </div>
                <!--End Product Grid-->

                <!--Pagination Classic-->
                <hr class="clear">
            </div>
            <!--End Main Content-->
        </div>
    </div>
</div>