<div class="page-wrapper mt-5">
<div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block"></div>
<div id="page-content" class="">
  <div class="container p-0 bx-s">
          <div class="row">
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4 mb-md-0 col-3 d-none d-lg-block d-xl-block">
          <div class="p-10">
             <input (click)="toggleShow()" class="input-chk-box" type="checkbox" id="myCheck">
             <label for="myCheck">Checkbox:</label> 
             <div id="text" *ngIf="isShown"><span><a href="#">Annuler</a></span><span class="float-right"><a href="#">Tout sélectionner</a></span></div>
          </div>
          <div class="p-10 l-section">
          <div class="img-bx">
             <input type="checkbox" class="chk">
             <img class="side-img" src="assets/images/products/01-7-510x270.jpg" width="100">
             <div>
             <p>Ahmad</p>
             <p>Ford Focus cars</p>
             <p>17:30 - hi</p>
             </div>
           </div>
           <div class="img-bx">
             <input type="checkbox" class="chk">
             <img class="side-img" src="assets/images/products/01-7-510x270.jpg" width="100">
             <div>
             <p>Ahmad</p>
             <p>Ford Focus cars</p>
             <p>17:30 - hi</p>
             </div>
           </div>
           </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4 mb-md-0 p-0">
             <div class="container bootstrap snippets bootdey">
<div class="row">

<!--=========================================================-->
<!-- selected chat -->
<div class="col-md-12 bg-white p-0">
<div class="chat-message">
  <ul class="chat">
      <li class="left clearfix">
          <div class="chat-body clearfix">
              <div class="header">
                  <strong class="primary-font">John Doe</strong>
                  <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
              </div>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
          </div>
      </li>
      <li class="right clearfix">
          <div class="chat-body clearfix">
              <div class="header">
                  <strong class="primary-font">Sarah</strong>
                  <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
              </div>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
              </p>
          </div>
      </li>
      <li class="left clearfix">
          <div class="chat-body clearfix">
              <div class="header">
                  <strong class="primary-font">John Doe</strong>
                  <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
              </div>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
          </div>
      </li>
                          
  </ul>
</div>

<div class="chat-box bg-white">
  <div class="input-group">
      <input class="form-control border no-shadow no-rounded" placeholder="Type your message here">
      <span class="input-group-btn">
          <button class="btn btn-success no-rounded" type="button">Send</button>
      </span>
  </div><!-- /input-group -->	
</div>            
</div>        
</div>
</div>

          </div>
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4 mb-md-0 positon-r d-none d-lg-block d-xl-block">
           <div class="r-div-1">
             <img src="assets/images/logo/icons8-user-100.png">
             <span>Dummy</span>
             <span class="dot-3" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></span>
             
                <ul class="dropdown-menu drop-down-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Données personnelles</a></li>
                  <li><a class="dropdown-item" href="#">Débloquer cet utilisateur</a></li>
                  <li><a class="dropdown-item" href="#">Signaler cet utilisateur</a></li>
                  <li><a class="dropdown-item" href="#">Supprimer la conversation</a></li>
                </ul>
             <p class="usr-p"><i class="fa-solid fa-message"></i>Typically responds within 10 minutes</p>
           </div>							 
            
            <div class="img-detal">
                <img class="side-img" src="assets/images/products/car-item12.jpg" width="80">
                <div>
                <h6>3 Bmw e30 cabriole....</h6>
                <p>12 000<i class="fa-solid fa-euro"></i></p>
                <p><span class="secure-pay">Paiement sécurisé</span></p>
                </div>
              </div> 
               <div class="ovr-div">							
              <div class="drs-bordr">
              <h3>Description</h3>
              <p>Vends ou échange bmw e30 cabriolet 320i dans un très belle état global d'origine.</p>
              <p> Véritable véhicul <span class="my2" style="display:none;">de collection. Échange contre bmw M ou 635 csi. Soulte de ma part possible suivant le véhicule.</span></p>
              <button id="show" >Voir plus</button>
              </div>
               <div class="drs-bordr criteriaa">
              <h3>Critères</h3>
              <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left img-spn">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/mark.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Marque</span>
                                </p>
                                <p class="m-b-8">Peugeot</p>
                                </div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left img-spn">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/mark.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Modèle</span>
                                </p>
                                <p class="m-b-8">406</p></div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left img-spn"><!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img src="assets/images/logo/year.png" class="txt-icon"></span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Année-modèle</span>
                                </p>
                                <p class="m-b-8">2001</p></div>
                              </div>
                          </div>
                          <div class="my1" style="display:none;">
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left img-spn">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/news.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Mise en circulation</span>
                                </p>
                                <p class="m-b-8">7/2021</p></div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left img-spn">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/speedometer.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Kilométrage</span>
                                </p>
                                <p class="m-b-8">41,5000 KM</p></div>
                              </div>
                          </div>
                           <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left">
                                 <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/petrol.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Carburant</span>
                                </p>
                                <p class="m-b-8">Diesel</p></div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/gearbox.png" class="txt-icon">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--></span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Boîte de vitesse</span>
                                </p>
                                <p class="m-b-8">Manuelle</p></div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/vehicles.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Type de véhicule</span>
                                </p>
                                <p class="m-b-8">Break</p></div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/color.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Couleur</span>
                                </p>
                                <p class="m-b-8">Autre</p></div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left"><!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img src="assets/images/logo/door.png" class="txt-icon"></span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Nombre de portes</span>
                                </p>
                                <p class="m-b-8">5</p></div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/place.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Nombre de place(s)</span>
                                </p>
                                <p class="m-b-8">5</p></div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/physics.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Puissance fiscale</span>
                                </p>
                                <p class="m-b-8">6 Cv</p></div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/machine.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Puissance DIN</span>
                                </p>
                                <p class="m-b-8">110 Ch</p></div>
                              </div>
                          </div>
                          <div class="product-details">
                              <!--Product Name-->
                              <div class="product-name">
                                <span class="float-left">
                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                <img src="assets/images/logo/licence.png" class="txt-icon">
                                </span>  
                                <div class="side-txt side-txt1">
                                <p class="m-b-8 first-txt"><span>Permis</span>
                                </p>
                                <p class="m-b-8">Avec permis</p></div>
                              </div>
                          </div>
                          
                          </div>
                          
              <button id="show1">Voir plus</button>
              </div>							
             </div>
          </div> 
          </div>
      <!--End Main Content-->
  </div>
  <!--End Container-->
</div>
</div>