<div class="template-product product-layout2">
    <!--Page Wrapper-->
    <div class="page-wrapper">
    
   
        <!--Body Container-->
        <div id="page-content " class="p-t-30">

            <!--Main Content-->
            <div class="container">
                <!--Product Content-->
                <div class="product-single">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                            <div class="product-details-img product-horizontal-style clearfix mb-3 mb-md-0">
                                <div class="zoompro-wrap product-zoom-right w-100 p-0">
                                    <div class="zoompro-span product-single-style2 no-arrow">
                                        <img id="" class="img1" src="assets/images/products/product-2.jpg"  alt="product" />
                                        <img class="img1" src="assets/images/products/product-2.jpg" alt="product" />
                                    </div>
                                    <div class="product-buttons">
                                        <!--<a href="#" class="mfpbox mfp-with-anim btn rounded-0 popup-video"><i class="icon an an-video"></i><span class="tooltip-label">Watch Video</span></a>-->
                                        <a class="btn rounded-0 btn-icon quick-view-popup quick-view quick-btn" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal" tabindex="0">Voir les photos
                                        <!--<span class="tooltip-label">Zoom Image</span>--></a>
                                        <!--<a href="#" class="btn rounded-0 prlightbox"><i class="icon an an-expand-l-arrows"></i><span class="tooltip-label">Zoom Image</span></a>
                                        <a class="btn-icon quick-view-popup quick-view" href="javascript:void(0)" data-toggle="modal" data-target="#content_quickview" tabindex="0"><i class="icon an an-search-l"></i> <span class="tooltip-label top">Quick View</span></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="wrap-product-info-bg wrap-pro">
                                <div class="col-md-12 text-left">
                                     <a href="#"><img src="assets/images/logo/icons8-user-100.png" width=""></a>
                                     <!--<span><i class="fa-solid fa-plus spn-pluss"></i>span>-->
                                     <span class="usr-name"><a href="#">Name</a></span>
                                     <span class="float-right spn-angl"><a href="#"><i class="fa-solid fa-angle-right"></i></a></span>
                                     <hr>
                                     <p><i class="fa-solid fa-clock"></i><small> Répond généralement en 10 minutes</small></p>
                                     <button class="btn btn-side side-btn1"><i class="fa-solid fa-envelope padd-r"></i> Envoyer un message</button>
                                     <button class="btn btn-side side-btn2"><i class="fa-solid fa-phone padd-r"></i> Voir le numéro</button>
                                 </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row p-t-25">
                     <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                       <h1 class="m-b-8">Peugeot 406 break</h1>
                       <p class="m-b-8"><span>Saint-Rémy-sur-Avre</span> <span>• 2001</span> <span> • 415,000 km</span> <span> • Diesel</span></p>
                       <span class="spn-price">700 <i class="fa-solid fa-euro-sign"></i></span>
                      <!-- <span class="secure-pay">Paiement sécurisé</span> -->
                      <hr>
                     </div>
                         <div class="col-12 col-sm-12 col-md-12 col-lg-8 main-col">
                        <!--Toolbar-->
                        <div class="toolbar">
                            <h3>Critères</h3>
                        </div>
                        <!--End Toolbar-->

                        <!--Product Grid-->
                        <div class="grid-products grid--view-items prd-grid">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4 ">   
                                    <!--Start Product Details-->
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left img-spn">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/mark.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Marque</span>
                                          </p>
                                          <p class="m-b-8">Peugeot</p></div>
                                        </div>
                                    </div>
                                    <!--End Product Details-->
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left img-spn">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/mark.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Modèle</span>
                                          </p>
                                          <p class="m-b-8">406</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left img-spn"><!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img src="assets/images/logo/year.png" class="txt-icon"></span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Année-modèle</span>
                                          </p>
                                          <p class="m-b-8">2001</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left img-spn">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/news.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Mise en circulation</span>
                                          </p>
                                          <p class="m-b-8">7/2021</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left img-spn">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/speedometer.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Kilométrage</span>
                                          </p>
                                          <p class="m-b-8">41,5000 KM</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left">
                                           <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/petrol.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Carburant</span>
                                          </p>
                                          <p class="m-b-8">Diesel</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/gearbox.png" class="txt-icon">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--></span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Boîte de vitesse</span>
                                          </p>
                                          <p class="m-b-8">Manuelle</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/vehicles.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Type de véhicule</span>
                                          </p>
                                          <p class="m-b-8">Break</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/color.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Couleur</span>
                                          </p>
                                          <p class="m-b-8">Autre</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left"><!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img src="assets/images/logo/door.png" class="txt-icon"></span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Nombre de portes</span>
                                          </p>
                                          <p class="m-b-8">5</p></div>
                                        </div>
                                    </div>
                                </div><div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/place.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Nombre de place(s)</span>
                                          </p>
                                          <p class="m-b-8">5</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/physics.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Puissance fiscale</span>
                                          </p>
                                          <p class="m-b-8">6 Cv</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/machine.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Puissance DIN</span>
                                          </p>
                                          <p class="m-b-8">110 Ch</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name">
                                          <span class="float-left">
                                          <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                          <img src="assets/images/logo/licence.png" class="txt-icon">
                                          </span>  
                                          <div class="side-txt">
                                          <p class="m-b-8 first-txt"><span>Permis</span>
                                          </p>
                                          <p class="m-b-8">Avec permis</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Product Grid-->

                        <!--Pagination Classic-->
                        <hr class="clear">
                        
                        <!--Collection Description-->
                        <div class="collection-description mt-4 pt-2">
                        <h3>Description</h3>
                            <p class="fw-500">Je mets en vente ma 406 2 L HDI break pour pièces ou bon bricoleur j'ai acheté cette voiture en 2017
                            J'ai toujours essayer de l'entretenir un minimum mais bon on a plusieurs petite chose s'accumule donc j'ai changé de véhicule
                             le moteur tourne impeccable il y aurait à prévoir les pneus les biellette stabilisatrice arrière un galet tendeur la courroie d'accessoire il y a une petite fuite en injecteur les freins avant l'aiguille de compteur qui tombe de temps en temps voilà et quelques bidouilles…</p>
                             <a href="#">Voir plus</a>
                        </div>
                        <hr>
                        <div class="collection-description mt-4 pt-2">
                        <h3 class=""> Brignoles(83170)</h3>
                            <div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11376654.143867694!2d-6.932249111537563!3d45.881243114560725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sen!2sin!4v1653984321758!5m2!1sen!2sin" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <hr>
                        <div class="collection-description mt-4 pt-2">
                            <img class="float-left" src="assets/images/logo/icons8-user-100.png" width="90">
                            <div class="usr-namm"><span><strong>TASIE</strong></span><p>3 annonces</p></div>
                            <button class="btn float-right btnnam">Suivre</button>
                            <div class="clearfix"></div>
                            <p class="m-b-5"><i class="fa-solid fa-user p-r-5"></i> Membre depuis mars 2020</p>
                            <p class="m-b-5"><i class="fa-solid fa-clock p-r-5"></i> Répond généralement en 10 minutes</p>
                        </div>
                        <hr>
                        <div class="collection-description mt-4 pt-2">
                            <a href="#" class="ankr"><i class="fa-solid fa-flag p-r-5"></i> Signaler l’annonce</a>
                            <!-- <a href="#" class="ankr"><i class="fa-solid fa-circle-exclamation p-r-5"></i> Vos droits et obligations</a> -->
                        </div>
                        <hr>
                    </div>
                    </div>
                </div>
                <!--Product Content-->
            </div>
            <!--End Container-->
           
            <!--You May Also Like Products-->
            <div class="container">
            <section class="section product-slider pb-0 col-12 col-lg-8">
                <div class="container">
                    <div class="row">
                        <div class="section-header col-12">
                            <h2 class="text-transform-none">Ces annonces peuvent vous intéresser</h2>
                        </div>
                    </div>
                    <div class="productSlider grid-products">
                        <div class="item" style="border-radius: 8px;">
                            <!--Start Product Image-->
                            <div class="product-image" style="border-radius: 8px;">
                                <a href="#" class="product-img">
                                    <img  src="assets/images/products/product-2.jpg" alt="" title="">
                                    <img src="assets/images/products/product-8-1.jpg" alt="" title="">
                                    <div class="product-labels"><span class="lbl on-sale">5</span></div>
                                </a>
                            </div>
                            <div class="product-details text-left">
                                <div class="product-name text-uppercase">
                                    <a href="#"><strong>Peugeot partner</strong></a>
                                </div>
                                <div class="product-price product-pp">
                                    <span class="price">850 <i class="fa-solid fa-euro-sign"></i></span>
                                    <p class="m-b-5 hrt-left">Saint-Rémy-sur-Avre 28380 <span class="float-right"><i class="fa-solid fa-heart"></i></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="border-radius: 8px;">
                            <div class="product-image" style="border-radius: 8px;"> 
                                <a href="#" class="product-img">
                                    <img  src="assets/images/products/product-2.jpg" alt="" title="">
                                    <img src="assets/images/products/product-8-1.jpg" alt="" title="">
                                    <div class="product-labels"><span class="lbl on-sale">5</span></div>
                                </a>
                            </div>
                            <div class="product-details text-left">
                                <div class="product-name text-uppercase">
                                    <a href="#"><strong>Peugeot partner</strong></a>
                                </div>
                                <div class="product-price product-pp">
                                    <span class="price">850 <i class="fa-solid fa-euro-sign"></i></span>
                                    <p class="m-b-5 hrt-left">Saint-Rémy-sur-Avre 28380 <span class="float-right"><i class="fa-solid fa-heart"></i></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="border-radius: 8px;">
                            <div class="product-image" style="border-radius: 8px;">
                                <a href="#" class="product-img">
                                    <img  src="assets/images/products/product-2.jpg" alt="" title="">
                                    <img src="assets/images/products/product-8-1.jpg" alt="" title="">
                                    <div class="product-labels"><span class="lbl on-sale">5</span></div>
                                </a>
                            </div>
                            <div class="product-details text-left">
                                <div class="product-name text-uppercase">
                                    <a href="#"><strong>Peugeot partner</strong></a>
                                </div>
                                <div class="product-price product-pp">
                                    <span class="price">850 <i class="fa-solid fa-euro-sign"></i></span>
                                    <p class="m-b-5 hrt-left">Saint-Rémy-sur-Avre 28380 <span class="float-right"><i class="fa-solid fa-heart"></i></span></p>
                                </div>
                            </div>
                        </div> 
                        <div class="item" style="border-radius: 8px;">
                            <div class="product-image" style="border-radius: 8px;">
                                <a href="#" class="product-img">
                                    <img  src="assets/images/products/product-2.jpg" alt="" title="">
                                    <img src="assets/images/products/product-8-1.jpg" alt="" title="">
                                    <div class="product-labels"><span class="lbl on-sale">5</span></div>
                                </a>
                            </div>
                            <div class="product-details text-left">
                                <div class="product-name text-uppercase">
                                    <a href="#"><strong>Peugeot partner</strong></a>
                                </div>
                                <div class="product-price product-pp">
                                    <span class="price">850 <i class="fa-solid fa-euro-sign"></i></span>
                                    <p class="m-b-5 hrt-left">Saint-Rémy-sur-Avre 28380 <span class="float-right"><i class="fa-solid fa-heart"></i></span></p>
                                </div>
                            </div>
                            <!--End Product Details-->
                        </div>
                        <div class="item" style="border-radius: 8px;">
                            <!--Start Product Image-->
                            <div class="product-image" style="border-radius: 8px;">
                                <!--Start Product Image-->
                                <a href="#" class="product-img">
                                    <!-- image -->
                                    <img  src="assets/images/products/product-2.jpg" alt="" title="">
                                    <!-- End image -->
                                    <!-- Hover image -->
                                    <img src="assets/images/products/product-8-1.jpg" alt="" title="">
                                    <!-- End hover image -->
                                    <!-- product label -->
                                    <div class="product-labels"><span class="lbl on-sale">5</span></div>
                                    <!-- End product label -->
                                </a>
                                <!--End Product Image-->
                            </div>
                            <!--End Product Image-->
                            <!--Start Product Details-->
                            <div class="product-details text-left">
                                <!--Product Name-->
                                <div class="product-name text-uppercase">
                                    <a href="#"><strong>Peugeot partner</strong></a>
                                </div>
                                <!--End Product Name-->
                                <!--Product Price-->
                                <div class="product-price product-pp">
                                    <span class="price">850 <i class="fa-solid fa-euro-sign"></i></span>
                                    <!-- <p class="m-b-5"><span class="secure-pay">Paiement sécurisé</span></p> -->
                                    <p class="m-b-5 hrt-left">Saint-Rémy-sur-Avre 28380 <span class="float-right"><i class="fa-solid fa-heart"></i></span></p>
                                </div>
                            </div>
                            <!--End Product Details-->
                        </div>
                    </div>
                </div>
            </section>
            </div>
            <!--End You May Also Like Products-->
        </div>
        <!--End Body Container-->

        <!--Footer-->
        <div class="footer footer-12">
        <!--Scoll Top-->
        <span id="site-scroll" class="textbase" title="SCROLL UP"> <i class="an an-long-arrow-alt-right top-arrow" aria-hidden="true"></i></span>
        <!--End Scoll Top-->
        <!--End MiniCart Drawer-->
        <div class="modalOverly"></div>
        <!--Scoll Top-->
        <span id="site-scroll"><i class="icon an an-chevron-up"></i></span>
        <div class="modalOverly"></div>
        <!-- Sticky Cart -->
        <div class="stickyCart">
            <div class="container">
                <form method="post" action="#" id="stickycart-form" class="d-flex-center justify-content-center">
                    <div class="img"><img src="assets/images/products/product-2.jpg" class="product-featured-img" alt="product" /></div>
                    <div class="sticky-title ms-2 ps-1 pe-5">Estafette</div>
                    <div class="stickyOptions rounded-0 position-relative">
                        50000 <i class="fa-solid fa-euro-sign"></i>
                    </div>
                    <button type="submit" name="add" class="btn secur-pur"><span>Achat sécurisé</span></button>                    
                </form>
            </div>
        </div>
        <!-- End Sticky Cart -->

        <!--Quickview Popup-->
        <!-- <div class="loadingBox"><div class="an-spin"><i class="icon an an-spinner4"></i></div></div> -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3 mb-md-0">
                    <div id="quickView" class="carousel slide">
                        <div class="carousel-inner carosl-inr">
                            <div class="item carousel-item active" data-bs-slide-number="0">
                                <img class="blur-up lazyload" data-src="assets/images/products/car-item11.jpg" src="assets/images/products/car-item11.jpg" alt="image" title="" />
                            </div>
                            <div class="item carousel-item" data-bs-slide-number="1">
                                <img class="blur-up lazyload" data-src="assets/images/products/car-item12.jpg" src="assets/images/products/car-item11.jpg" alt="image" title="" />
                            </div>
                            <div class="item carousel-item" data-bs-slide-number="2">
                                <img class="blur-up lazyload" data-src="assets/images/products/car-item11.jpg" src="assets/images/products/car-item11.jpg" alt="image" title="" />
                            </div>
                            <div class="item carousel-item" data-bs-slide-number="3">
                                <img class="blur-up lazyload" data-src="assets/images/products/car-item12.jpg" src="assets/images/products/car-item12.jpg" alt="image" title="" />
                            </div>
                            <div class="item carousel-item" data-bs-slide-number="4">
                                <img class="blur-up lazyload" data-src="assets/images/products/car-item11.jpg" src="assets/images/products/car-item11.jpg" alt="image" title="" />
                            </div>
                        </div>
                        <div class="model-thumbnail-img model-thum-img">
                            <div class="carousel-indicators list-inline">
                                <div class="list-inline-item active" id="carousel-selector-0" data-bs-slide-to="0" data-bs-target="#quickView">
                                    <img class="blur-up lazyload" data-src="assets/images/products/car-item11.jpg" src="assets/images/products/car-item11.jpg" alt="image" title="" />
                                </div>
                                <div class="list-inline-item" id="carousel-selector-1" data-bs-slide-to="1" data-bs-target="#quickView">
                                    <img class="blur-up lazyload" data-src="assets/images/products/car-item12.jpg" src="assets/images/products/car-item12.jpg" alt="image" title="" />
                                </div>
                                <div class="list-inline-item" id="carousel-selector-2" data-bs-slide-to="2" data-bs-target="#quickView">
                                    <img class="blur-up lazyload" data-src="assets/images/products/car-item11.jpg" src="assets/images/products/car-item11.jpg" alt="image" title="" />
                                </div>
                                <div class="list-inline-item" id="carousel-selector-3" data-bs-slide-to="3" data-bs-target="#quickView">
                                    <img class="blur-up lazyload" data-src="assets/images/products/car-item12.jpg" src="assets/images/products/car-item12.jpg" alt="image" title="" />
                                </div>
                                <div class="list-inline-item" id="carousel-selector-4" data-bs-slide-to="4" data-bs-target="#quickView">
                                    <img class="blur-up lazyload" data-src="assets/images/products/car-item11.jpg" src="assets/images/products/product-5-4.jpg" alt="image" title="" />
                                </div>
                            </div>
                            <a class="carousel-control-prev carousel-arrow" href="#quickView" data-bs-target="#quickView" data-bs-slide="prev"><i class="icon an-3x an an-angle-left"></i><span class="visually-hidden">Previous</span></a>
                            <a class="carousel-control-next carousel-arrow" href="#quickView" data-bs-target="#quickView" data-bs-slide="next"><i class="icon an-3x an an-angle-right"></i><span class="visually-hidden">Next</span></a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <h2 class="product-title">Estafette</h2>
                </div>
            </div>
        </div>
        </div>
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption"><div class="pswp__caption__center"></div></div>
                </div>
            </div>
        </div>

    </div>
    <!--End Page Wrapper-->
</div>
