<div class="footer footer-12">
    <div class="footer-top clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 footer-about">
                    <div class="inner mb-4 mb-md-0">
                        <!-- <img src="assets/images/logo/logo.png" alt="Optimal" class="mb-3" width="100" /> -->
                        <div class="custom-text mt-1">
                        <h4 class="h4 body-font text-white">NOS APPLICATIONS</h4>
                           <ul class="list-inline social-icons mt-3">
                                <li class="list-inline-item mb-3">
                                    <a href="#">
                                        <img src="assets/images/icons/download_on_app_store.avif" width="135">
                                    </a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="#">
                                        <img src="assets/images/icons/download_on_google_play.avif" width="135">
                                    </a>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                    <h4 class="h4 body-font text-white">INFORMATION JURIDIQUE</h4>
                    <ul>
                        <li><a href="my-account.html">Règles de diffusion</a></li>
                        <li><a href="aboutus-style1.html">Informations légales</a></li>
                        <li><a href="login.html">CGU</a></li>
                        <li><a href="privacy-policy.html">CGV</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                    <h4 class="h4 body-font text-white">À PROPOS DE</h4>
                    <ul>
                        <li><a href="#">Informations personnelles et Cookies</a></li>
                        <li><a href="#">Nous contacter</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 newsletter-col">
                    <div class="display-table pt-md-3 pt-lg-0">
                        <div class="display-table-cell footer-newsletter">
                            <h4 class="h4 body-font text-white">NOS APS</h4>
                            <form action="#" method="post">
                                <!-- <div class="input-group mb-2">
                                    <input type="email" class="border-0 rounded-start mb-0 input-group__field newsletter-input" name="EMAIL" value="" placeholder="Email address" required>
                                    <span class="input-group__btn"><button type="submit" class="btn btn-primary newsletter__submit rounded-end" name="commit" id="Subscribe"><i class="an an-envelope-l"></i></button></span>
                                </div> -->
                                <div class="lng_dropdown mr-2">
                                    <select name="countries" class="custome_select">
                                        <option value='en' data-image="assets/images/icons/eng.png" data-title="English">English</option>
                                        <option value='fn' data-image="assets/images/icons/fn.png" data-title="France">France</option>
                                        <option value='us' data-image="assets/images/icons/us.png" data-title="United States">United States</option>
                                    </select>
                                </div>
                            </form>
                            <ul class="list-inline social-icons mt-3 social">
                                <li class="list-inline-item"><a href="#" class="facbook" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>

                                <li class="list-inline-item"><a href="#" class="twitr" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>

                                <li class="list-inline-item"><a href="#" class="insta" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>

                                <li class="list-inline-item"><a href="#" class="gmal" data-bs-toggle="tooltip" data-bs-placement="top" title="Google plus"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
    </div>
<div class="footer-4">
    <div class="footer-bottom clearfix">
        <div class="container bt-1">
            <div class="d-flexflex-column justify-content-md-between py-3">
                <div class="copytext">© 2022. Tous droits réservés.</div>
            </div>
        </div>
    </div>
</div>
<!--End Footer-->

<!--Scoll Top-->
<span id="site-scroll" class="textbase" title="SCROLL UP"> <i class="an an-long-arrow-alt-right top-arrow" aria-hidden="true"></i></span>
<!--End Scoll Top-->


<!--End MiniCart Drawer-->
<div class="modalOverly"></div>

<!--Quickview Popup-->
<div class="loadingBox"><div class="an-spin"><i class="icon an an-spinner4"></i></div></div>

<!--End Quickview Popup-->
 </div>