<div class="row">
                                            <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                                                <h2>Choisissez une catégorie suggérée</h2>
												<div class="form-check form-chk">
                                                   <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>
                                                   <label class="form-check-label" for="radio1"><i class="fa-solid fa-car"></i> Porsche Voitures </label>
                                                </div>
                                                <div class="form-check form-chk">
                                                   <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">
                                                   <label class="form-check-label" for="radio2"><i class="fa-solid fa-car"></i> Pièces et  accessoires</label>
                                                </div>
                                            </div>
											<div class="row p-t-30">
										       <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-right">
                                                 <button class="btn btn-my1">Continuer</button>
										       </div>
										    </div>
                                        </div>