

    <div class="shop-listing shop-fullwidth">
        <div class="page-wrapper mt-4">
		</div>
            <div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
            </div>
            <div id="page-content" class="">
				<!--Container-->
			  <div class="breadcrumbs-wrapper text-uppercase bread-crum">
				  <div class="container p-0">
					  <div class="breadcrumbs">
						  <div id="nav-gwbar" class="nav-gwbar-single-row nav-genz nav-gwbar-white nav-gwbar-scroll">
							 <a href="javascript:void(0)" class="nav-a">Annonces</a>
							 <a href="javascript:void(0)" class="nav-a">Tranactions</a>
							 <a href="javascript:void(0)" class="nav-a">Acheter des crédits</a>
							 <a href="javascript:void(0)" class="nav-a">Paramètres</a>
						  </div>
					  </div>
				  </div>
			  </div>
		  <div class="breadcrumbs-wrapper text-uppercase bread-crum page-bg d-none d-lg-block" style="background: #f9f7f7!important;">
			  <div class="container">
				<div class="login-register log-in">
				 <div class="row">
				   <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
					
					<button class="btn btn-my2">Annonces</button>
				   </div>
				   
				 </div> 
			   </div>				   
			  </div>
		  </div>
			  <div class="breadcrumbs-wrapper bread-crum1">
			  <div class="container">
				  <div class="row">
						 <div class="col-12 col-sm-9 col-md-9 col-lg-9 mb-4 mb-md-0">
							<input type="text" placeholder="Recherchez dans vos annonces">
						 </div>
						 <div class="col-12 col-sm-2 col-md-2 col-lg-2 mb-4 mb-md-0 text-right">
							<button class="btn btn-my1">Rechercher</button>
						 </div>
				  </div>
			  </div>
			  </div>
			  <div class="container pt-30">
				  <!--Main Content-->
					  <div class="row">
					  <!--<div class="col-md-12">
						<h2>Déposer une annonce</h2>
					  </div>-->
					  <div class="row">
					  <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4 mb-md-0">
						 <ul class="anoon-tab">
							 <li class="mr-2"><a>Annonces en ligne (0)</a></li>
							 <li><a>Annonces expirées (0)</a></li>
						 </ul>
					  </div>
					  <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4 mb-md-0 text-right">
						 <select class="trier">
							<option>Trier par : Date</option>
							<option>Trier par : Prix croissants</option>
							<option>Trier par : Prix décroissants</option>
						 </select>
					  </div>
					  </div>
					  
					  <div class="row p-t-b-25">
					  <div class="col-2 col-sm-2 col-md-2 col-lg-2">
					  <div class="form-check">
						<input type="checkbox" id="scales" name="scales" class="input-chk">  
					  </div>
					  </div>
					  <div class="col-10 col-sm-10 col-md-10 col-lg-10 text-right">
						<button class="btn butn1" disabled><i class="fa-solid fa-arrow-up-short-wide"></i><span class="d-none d-lg-block"> Remonter en tête de liste</span></button>
						<button class="btn butn1" disabled><i class="fa-solid fa-clock-rotate-left"></i> <span class="d-none d-lg-block">Abonnement tête de liste</span></button>
						<button class="btn butn1" disabled><i class="fa-solid fa-bookmark"></i><span class="d-none d-lg-block"> À la une</span></button>
						<button class="btn butn1" disabled><i class="fa-solid fa-star"></i><span class="d-none d-lg-block">Logo Urgent</span></button>
						<button class="btn butn1" disabled><i class="fa-solid fa-trash-can-arrow-up"></i><span class="d-none d-lg-block"> Supprimer</span></button>
					  </div>
					  </div>
					  <div class="row">
						<div class="col-12 text-center ad-div">
						  <p>Vous n’avez aucune annonce en ligne</p>  
						  <!--<button class="btn btn-my2"><i class="fa-solid fa-square-plus"></i> Déposer une annonce</button>-->
						</div>
					  </div>
						</div>
				  <!--End Main Content-->
			  </div>
			  <!--End Container-->
		  </div>
        </div>