<p>otp works!</p>
<div id="page-content" class="p-t-30">
    <!--Container-->
  <div class="container pt-30">
      <!--Main Content-->
      <div class="">
          <div class="row">
          <!--<div class="col-md-12">
            <h2>Déposer une annonce</h2>
          </div>-->
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 login-f">
                   <div class="p-2 otp-div text-center" style="padding: 25px!important;"> 
                   <h1>Modifier mon mot de passe</h1>
                   <p>Saisissez le code de vérification reçu sur l'adresse e-mail </p>
                   <p><strong>abc@gmail.com</strong></p>								 
                   <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
                       <input class="m-2 text-center form-control rounded p-0" type="text" id="first" maxlength="1" placeholder="0" /> 
                       <input class="m-2 text-center form-control rounded p-0" type="text" id="second" maxlength="1" placeholder="0" /> 
                       <input class="m-2 text-center form-control rounded p-0" type="text" id="third" maxlength="1" placeholder="0" /> 
                       <input class="m-2 text-center form-control rounded p-0" type="text" id="fourth" maxlength="1" placeholder="0" /> 
                       <input class="m-2 text-center form-control rounded p-0" type="text" id="fifth" maxlength="1" placeholder="0" /> 
                       <input class="m-2 text-center form-control rounded p-0" type="text" id="sixth" maxlength="1" placeholder="0" /> 
                   </div> 
                   <div class="mt-4"> 
                       <button class="btn btn-danger px-4 validate">La sécurité de vos informations  est essentielle. Nous vérifions donc que vous etes bein a l'origine  de cette  demande. </button>
                     </div> 
                   </div>
              </div>
            </div>
      </div>
      <!--End Main Content-->
  </div>
  <!--End Container-->
</div>