

    <div class="shop-listing shop-fullwidth">
        <div class="page-wrapper">
            <!--End Header-->
			<div id="header" class="header d-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
                <div class="header-main">
                    <header class="header-wrap container d-flex align-items-center pt-10">
                        <div class="row g-0 align-items-center w-100">
                            <!--Logo / Menu Toggle-->
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex">
                                <!--Mobile Toggle-->
                                <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open me-3 d-lg-none"><i class="icon an an-times-l"></i><i class="icon an an-bars-l"></i></button>
                                <!--End Mobile Toggle-->
                                
                            </div>
							<div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                                <!--Logo-->
                                <div class="logo mx-lg-auto"><a href="#"><img class="logo2" src="assets/images/logo/logo2.png" alt="Oblack" title="Oblack" /><span class="logo-txt d-none">Oblack</span></a></div>
                                <!--End Logo-->
                            </div>
                            <!--End Logo / Menu Toggle-->
                            <!--Right Action-->
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 icons-col text-right d-flex justify-content-end">
                                <!--Search-->
                                <div class="site-search iconset"><i class="icon an an-bell2 i-con"></i><span class="spn-zero">0</span></div>
                                <!--<div class="site-search iconset"><i class="icon an an-bell2"></i><span class="wishlist-count counter d-flex-center justify-content-center position-absolute translate-middle rounded-circle">0</span></div>-->
                                <!--End Search-->
                                <!--Wishlist-->
                                <div class="iconset">
                                    <a href="#"><i class="icon an an-heart-l i-con"></i></a>
                                </div>
                                <!--End Wishlist-->
                            </div>
                            <!--End Right Action-->
                        </div>
                    </header>
                    <!--Main Navigation Desktop-->
                 </div>
            </div>
            <!--Mobile Menu-->
            <div class="mobile-nav-wrapper" role="navigation">
               <div class="closemobileMenu"><i class="icon an an-times-l pull-right"></i> </div>
                <ul id="MobileNav" class="mobile-nav">
                    <li class="lvl1 parent megamenu"><a href="#">Voiture  <i class="an an-plus-l"></i></a>
                        <ul>
                            <li><a href="#" class="site-nav"><img src="assets/images/megamenu/boxster-s.png" alt="image" style="width:100px;">BOXSTER <i class="an an-angle-right"></i></a>
                                <ul>
                                    <li class="lvl-2"><a href="#" class="site-nav"><strong class="d-blk">982</strong><small class="d-blk">2016 Today <i class="fa fa-arrow-right arow "aria-hidden="true"></i> <i class="fa fa-arrow-left arowl"aria-hidden="true"></i></small></a></li>
                                    <li class="lvl-2"><a href="#" class="site-nav"><strong class="d-blk">981</strong><small class="d-blk">2012 2016 <i class="fa fa-arrow-right arow "aria-hidden="true"></i> <i class="fa fa-arrow-left arowl"aria-hidden="true"></i></small></a></li>
                                    <li class="lvl-2"><a href="#" class="site-nav"><strong class="d-blk">987</strong><small class="d-blk">2005 2012 <i class="fa fa-arrow-right arow "aria-hidden="true"></i> <i class="fa fa-arrow-left arowl"aria-hidden="true"></i></small></a></li>
									<li class="lvl-2"><a href="#" class="site-nav"><strong class="d-blk">986</strong><small class="d-blk">1997 2004 <i class="fa fa-arrow-right arow "aria-hidden="true"></i> <i class="fa fa-arrow-left arowl"aria-hidden="true"></i></small></a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="site-nav">Home Styles <i class="an an-angle-right"></i></a>
                                <ul>
                                    <li class="lvl-2"><a href="#" class="site-nav">Home 11 - Pets <span class="lbl nm_label3">Popular</span></a></li>
                                    <li class="lvl-2"><a href="#" class="site-nav">Home 12 - Tools & Parts</a></li>
                                    <li class="lvl-2"><a href="#" class="site-nav">Home 13 - Watches <span class="lbl nm_label1">Hot</span></a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="site-nav">Home Styles <i class="an an-plus-l"></i></a>
                                <ul>
                                    <li class="lvl-2"><a href="#" class="site-nav">Home 21 - Party Supplies <span class="lbl nm_label2">New</span></a></li>
                                    <li class="lvl-2"><a href="#" class="site-nav">Home 22 - Digital <span class="lbl nm_label2">New</span></a></li>
                                    <li class="lvl-2"><a href="#" class="site-nav">Home 23 - Vogue <span class="lbl nm_label2">New</span></a></li>
                                    <li class="lvl-2"><a href="#" class="site-nav last">Home 24 - Glamour <span class="lbl nm_label2">New</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="lvl1 parent megamenu"><a href="#">Pièces détacher  <i class="an an-angle-right"></i></a>
                        <ul class="mob-menu-2">
                            <li><a href="#" class="site-nav">
							<a href="#" class="mb-2 carr">
							<img src="assets/images/megamenu/boxster-s.png" alt="image"/>
							      <span>BOXSTER</span><span class="float-right angle-r"><i class="fa-solid fa-angle-down"></i></span>
			                 </a>
                            <ul class="sublinks catgory">
                            <li class="level2"><a href="#"><strong class="d-blk">982</strong><small class="d-blk">2016 Today <i class="fa fa-arrow-right arow "aria-hidden="true"></i> <i class="fa fa-arrow-left arowl"aria-hidden="true"></i></small></a></li>
                            <li class="level2"><a href="#"></a></li>
                            <li class="level2"><a href="#"><strong class="d-blk">987</strong><small class="d-blk">2005 2012 <i class="fa fa-arrow-right arow "aria-hidden="true"></i> <i class="fa fa-arrow-left arowl"aria-hidden="true"></i></small></a></li>
							<li class="level2"><a href="#"><strong class="d-blk">986</strong><small class="d-blk">1997 2004 <i class="fa fa-arrow-right arow "aria-hidden="true"></i> <i class="fa fa-arrow-left arowl"aria-hidden="true"></i></small></a></li>
                            </ul>
							</a>
                                <ul>
                                    <li><a href="#" class="site-nav">
									 
									</a></li>
                                    <li><a href="#" class="site-nav">3 Columns with style2</a></li>
                                    <li><a href="#" class="site-nav">4 Columns with style3</a></li>
                                    <li><a href="#" class="site-nav">5 Columns with style4</a></li>
                                    <li><a href="#" class="site-nav">6 Columns with Fullwidth</a></li>
                                    <li><a href="#" class="site-nav">7 Columns</a></li>
                                    <li><a href="#" class="site-nav last">Category Empty</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="site-nav">Shop Page <i class="an an-plus-l"></i></a></li>                           
                        </ul>
                    </li>
                </ul>
            </div> 
            <!--End Mobile Menu-->
     
            <!--Body Container-->
            <div id="page-content" class="p-t-30">
                <!--Container-->
                <div class="container">
                  <!--Category Masonary Grid-->
                  <div class="row">
                      <div class="col-md-12 usr-box">
                        <img src="assets/images/logo/icons8-user-100.png"><span><i class="fa-solid fa-plus spn-pluss"></i></span><span class="usr-name">Name</span>
                        <!--<button class="btn btn-primary float-right usr-btn d-none d-sm-block"><span class="">Voir mon profil public</span></button>-->
                        <span class="float-right spn-angl"><i class="fa-solid fa-angle-right d-block d-sm-none"></i></span>
                      </div>
                      
                  </div>
                  <div class="grid-categorys grid-mr-20 p-t-30">
                      <div class="grid-masonary category-page-grid">
                          <div class="grid-sizer col-6 col-sm-6 col-md-4 col-lg-4"></div>
                          <div class="row mx-0">
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                                  <div class="category-item zoomscal-hov cat-itm">
                                      <a href="#" class="category-link cat-link">
                                          <img src="assets/images/logo/megaphone1.png" alt="megaphone1" title="Annonces" />
                                          <div class="details">
                                              <div class="inner">
                                                  <h3 class="category-title">Annonces</h3>
                                                  <span class="counts">Gérer mes annonces déposées</span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                                  <div class="category-item zoomscal-hov cat-itm">
                                      <a href="#" class="category-link cat-link">
                                          <img src="assets/images/logo/euro1.png" alt="euro" title="Transactions" />
                                          <div class="details">
                                              <div class="inner">
                                                  <h3 class="category-title">Transactions</h3>
                                                  <span class="counts">Suivre mes achats et mes ventes</span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                              
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                                  <div class="category-item zoomscal-hov cat-itm">
                                      <a href="#" class="category-link cat-link">
                                          <img src="assets/images/logo/account1.png" >
                                          <div class="details">
                                              <div class="inner">
                                                  <h3 class="category-title">Profil & Espaces</h3>
                                                  <span class="counts">Modifier mon profil public, accéder à mes avis, aux espaces candidat et locataire</span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                                  <div class="category-item zoomscal-hov cat-itm">
                                      <a href="#" class="category-link cat-link">
                                          <img src="assets/images/logo/settings1.png" >
                                          <div class="details">
                                              <div class="inner">
                                                  <h3 class="category-title">Paramètres</h3>
                                                  <span class="counts">Compléter et modifier mes informations privées et préférences</span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                                  <div class="category-item zoomscal-hov cat-itm">
                                      <a href="#" class="category-link cat-link">
                                          <img src="assets/images/logo/verified1.png" >
                                          <div class="details">
                                              <div class="inner">
                                                  <h3 class="category-title">Connexion et sécurité</h3>
                                                  <span class="counts">Protéger mon compte et mettre à jour mon mot de passe</span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                                  <div class="category-item zoomscal-hov cat-itm">
                                      <a href="#" class="category-link cat-link">
                                          <img src="assets/images/logo/coin-stack1.png" >
                                          <div class="details">
                                              <div class="inner">
                                                  <h3 class="category-title">Acheter des crédits</h3>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                                  <div class="category-item zoomscal-hov cat-itm">
                                      <a href="#" class="category-link cat-link">
                                          <img src="assets/images/logo/question-mark1.png" >
                                          <div class="details">
                                              <div class="inner">
                                                  <h3 class="category-title">Aide</h3>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End Category Masonary Grid-->
              </div>
              
              <!--End Container-->
          </div>
          <!--End Body Container-->

              <div class="container-fluid">
                  <div class="row">
                      <!--Sidebar-->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-3 sidebar filterbar">
                          <div class="closeFilter d-block"><i class="icon icon an an-times-r"></i></div>
                          <div class="sidebar_tags">
                             
                          </div>
                      </div>
                      <!--End Sidebar-->

                      <!--Main Content-->
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                          <div class="grid-products grid--view-items shop-grid-5 prd-grid">
                              <div class="row">
                                  
                              </div>
                          </div>
                          <!--End Product Grid-->


                      </div>
                      <!--End Main Content-->
                  </div>
              </div>
            </div>
    </div>