<div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block mt-4"></div>
<div id="page-content" class="">
  <div class="breadcrumbs-wrapper text-uppercase bread-crum">
      <div class="container p-0">
          <div class="breadcrumbs">
              <div id="nav-gwbar" class="nav-gwbar-single-row nav-genz nav-gwbar-white nav-gwbar-scroll">
                 <a href="javascript:void(0)" class="nav-a">Annonces</a>
                 <a href="javascript:void(0)" class="nav-a">Tranactions</a>
                 <a href="javascript:void(0)" class="nav-a">Acheter des crédits</a>
                 <a href="javascript:void(0)" class="nav-a">Paramètres</a>
              </div>
          </div>
      </div>
  </div>
  <div class="breadcrumbs-wrapper text-uppercase bread-crum page-bg" style="background: #f9f7f7!important;">
  <div class="container">
    <div class="login-register log-in">
     <div class="row">
       <div class="col-12 col-sm-12 col-md-12 col-lg-12 mess-age text-center">
        <p>Votre demande de réactivation a été prise  en compte, elle sera effective dans quelques instants.</p>
       </div>
     </div> 
   </div>				   
  </div>
  </div>
  <div class="breadcrumbs-wrapper bread-crum1">
  <div class="container">
      <div class="row">
             <div class="col-12 col-sm-6 col-md-8 col-lg-8 m-m-b">
                <input type="text" placeholder="Recherchez dans vos annonces" class="bg-white">
             </div>
             <div class="col-12 col-sm-3 col-md-2 col-lg-2 m-m-b">
                <div class="custom-select">
                   <select>
                       <option value="0"><i class="fa-solid fa-list"></i> Catégories</option>
                       <option value="1">Audi</option>
                       <option value="2">BMW</option>
                       <option value="3">Citroen</option>
                       <option value="4">Ford</option>
                       <option value="5">Honda</option>
                       <option value="6">Jaguar</option>
                       <option value="7">Land Rover</option>
                       <option value="8">Mercedes</option>

                   </select>
                </div>
             </div>
             <div class="col-12 col-sm-3 col-md-2 col-lg-2">
                <button class="btn btn-my1 butn-recgr">Rechercher</button>
             </div>
      </div>
  </div>
  </div>
  <div class="container pt-30">
          <div class="row">
          <div class="col-12 col-sm-12 col-md-4 col-lg-6 mb-4 mb-md-0">
             <ul class="anoon-tab">
                 <li class="mr-2"><a>Annonces en ligne (0)</a></li>
                 <li><a>Annonces expirées (0)</a></li>
             </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 mb-md-0 ">
             <button class="btn button-44 bnt-44 btn-widt m-0"><i class="fa-solid fa-circle-pause paus-i"></i>Réactiver mes annonces</button>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 mb-md-0">
             <select class="trier">
                <option>Trier par : Date</option>
                <option>Trier par : Prix croissants</option>
                <option>Trier par : Prix décroissants</option>
             </select>
          </div>
          </div>
          
          <div class="row p-t-b-25">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2">
          <div class="form-check">
            <input type="checkbox" id="scales" name="scales" class="input-chk">  
          </div>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 text-right">
            <button class="btn butn1 mr-2" disabled><i class="fa-solid fa-arrow-up-short-wide"></i><span class="d-none d-lg-block"> réactiver</span></button>
            <button class="btn butn1 mr-2" disabled><i class="fa-solid fa-clock-rotate-left"></i> <span class="d-none d-lg-block">Abonnement tête de liste</span></button>
            <button class="btn butn1 mr-2" disabled><i class="fa-solid fa-bookmark"></i><span class="d-none d-lg-block"> À la une</span></button>
            <button class="btn butn1 mr-2" disabled><i class="fa-solid fa-star"></i><span class="d-none d-lg-block">Logo Urgent</span></button>
            <button class="btn butn1 mr-2" disabled><i class="fa-solid fa-trash-can-arrow-up"></i><span class="d-none d-lg-block"> Supprimer</span></button>
          </div>
          </div>
          <div class="row ad-div" style="border:1px solid #f1f1f1;padding:20px 0 0 0;">
            <div class="col-12 col-lg-2 col-md-2 col-sm-4 m-m-b">
               <img src="assets/images/products/car-888.jpg">
            </div>
            <div class="col-12 col-lg-3 col-md-4 col-sm-8">
               <h2 class="product-main" style="font-size: 12px;">Magnifique RENAULT CLIO IV PHASE 2 1.5 </h2>
               <h3 style="font-size: 12px;">12000 <i class="fa-solid fa-euro"></i></h3>
               <P><small>Voiture</small></P>
               <button class="btn btn-primary button-44 bnt-44 mr-2">Réactiver l'annonce</button>
               <button class="btn button-44 btn-delete mr-2"><i class="fa-solid fa-trash"></i></button>
               
            </div>
             <div class="col-lg-2 col-md-2 col-sm-4">
                   <ul class="icon-ul">
                       <li><a href="javascript:void(0)"><i class="fa-solid fa-clock-rotate-left"></i></a></li>
                       <li><a href="javascript:void(0)"><i class="fa-solid fa-star"></i></a></li>
                       <li><a href="javascript:void(0)"><i class="fa-solid fa-bookmark"></i></a></li>
                       <li><a href="javascript:void(0)"><i class="fa-solid fa-camera"></i></a></li>
                   </ul>
            </div>
            <div class="col-12 col-lg-3 col-md-2 col-sm-4 ">
                   <div style="text-align: center;padding: 50px 0;">
                       <p><strong>Date <i class="fa-solid fa-circle-question"></i></strong><br> 9 june 2022</p>
                       <p>59 Jour restants</p>
                   </div>
            </div>
            <div class="col-12 col-lg-2 col-md-2 col-sm-4 text-right" style="border-right:0;">
                  <button class="btn btn-secondary dropdown-toggle togle-drop dropdown bnt-44 btn-44-drop" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" >détails </button>
                 <ul class="dropdown-menu drop-m-i" aria-labelledby="dropdownMenuButton1">
                     <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-eye"></i>1012</a></li>
                     <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-phone"></i> 0</a></li>
                     <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-envelope"></i> 5</a></li>
                 </ul>
             </div>
             <div class="row mise-botom">
             <a href="javascript:void(0)" class="mise-anker">Annonce mise an pause</a>
             </div>
          </div>
</div>
</div>
<div class="clearfix"></div>
<div class="footer footer-12">
  <div class="footer-top clearfix" style="padding: 13px 0;">
      <div class="container">
          <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-3 footer-about">
                  Porschists 2022 - 2022
              </div>
          </div>               
      </div>
  </div>
</div>