<!-- <div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block"></div> -->
<div id="page-content" class="p-t-30">
    <!--Container-->
  <div class="container pt-30">
      <!--Main Content-->
      <div class="">
          <div class="row">
          <!--<div class="col-md-12">
            <h2>Déposer une annonce</h2>
          </div>-->
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-md-0 login-f">
                  <form method="post" action="#" class="customer-form change-f">	
                          <h1 class="">Mot de  passe oublie</h1>
                          <p class="m-b-15">Entrez l'adresse e-mail associée a votre compte</p>
                          <div class="row">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                  <div class="form-group">
                                      <div class="col-md-10">
                                          <label for="" class="float-left"><strong>E-mail </strong></label><span class="float-right champ-r">Champ requis</span>
                                            <div class="input-group mb-3">
                                          <input type="text" class="form-control" placeholder="" [(ngModel)]="email">
                                          </div>
                                       </div>
                                  </div>
                                 <div><button class="btn btn-primary">Continuer</button></div>
                              </div>
                          </div>									   
                   </form>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-5 mb-4 mb-md-0 text-center d-none d-lg-block">
                  <img class="for-got" src="assets/images/content/forgot-pass.png">
              </div>
            </div>
      </div>
      <!--End Main Content-->
  </div>
  <!--End Container-->
</div>